* {
    box-sizing: border-box;
  }
  body {
    margin: 0;
  }
  .gjs-row{
    display:flex;
    justify-content:flex-start;
    align-items:stretch;
    flex-wrap:nowrap;
    padding-top:10px;
    padding-right:10px;
    padding-bottom:10px;
    padding-left:10px;
  }
  .gjs-cell{
    min-height:75px;
    flex-grow:1;
    flex-basis:100%;
  }
  #ifn9{
    height:100vh;
    background-color: #ffffff;
    background-image: linear-gradient(to top right, #ffffff, #b5cabb, #ffffff, #f0f0e0, #f0ebd8),
        linear-gradient(to left, #ffffff, #ffffff);
  }
  #iwi2{
    color:black;
    width:20vw;
    margin:20vh 0px 3vh 0px;
  }
  #i0sx{
    display:flex;
    justify-content:space-around;
  }
  #i6iq{
    margin:1vh 0px 1vh 0px;
    padding:10px 10px 10px 10px;
    width:40vw;
    border-radius:5px;
    border:1px solid black;
    background-color: #ffffff;
  }
  #im99{
    text-align:center;
    min-height:50px;
  }
  #i87r8{
    text-align:center;
    min-height:50px;
  }
  #ie9eh{
    margin:3vh 0px 0px 0px;
  }
  #i5d47{
    width:15em;
    padding:10px 10px 10px 10px;
    border-radius:8px;
    border:0 none black;
    box-shadow:0 0 5px 0 black ;
    background-color:#0F9D58;
  }
  #i0u6a{
    padding:10px;
    text-align:center;
    font-size:large;
    color:green;
  }
  #i4bfs{
    padding:10px;
    text-align:center;
    font-size:large;
    color:green;
  }
  #iszia{
    margin:1vh 0px 1vh 0px;
    padding:10px 10px 10px 10px;
    width:40vw;
    border-radius:5px;
    border:1px solid black;
    background-color: #ffffff;
  }
  #i6hmd{
    text-align:center;
    min-height:50px;
  }
  @media (max-width: 768px){
    .gjs-row{
      flex-wrap:wrap;
    }
  }
  @media (max-width: 480px){
    #iwi2{
      width:10em;
    }
    #i6iq{
      width:20em;
    }
    #iszia{
      width:20em;
    }
  }