/*
################
global styles
################
*/
.gjs-mdl-dialog {
    background-color: white;
    color: #333;
}
body {
    margin: 0;
    font-family: sans-serif;
}

* {
    box-sizing: border-box;
}

a, router-link {
    text-decoration: none;
    color: #000 !important;
}

a:hover, router-link:hover {
    color: #51ef59 !important; 
}

/*
################
auth starts here
################
*/
.background {
    padding-top: 10vh;
    padding-left: 3vh;
    padding-right: 3vh;
}

.signUpBtn {
    background: none;
    font-size: 16px;
    border: #fff;
    color: #2dc046;
}

.logo-img {
    display: grid;
    place-items: center;
    overflow: hidden;
}

.gjs-row {
    display: table;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
    width: 100%;
}

.gjs-cell {
    width: 8%;
    display: table-cell;
    height: 75px;
}

.start {
    display: flex;
    justify-content: center;
    padding: 50px;
}

.img-start {
    width: 100%;
    height: 100%;
    text-align: center;
    padding: 20px;
    border-style: solid;
    border-color: #2dc046;
}

#i9x1 {
    text-align: center;
    font-family: Trebuchet MS, Helvetica, sans-serif;
    padding: 20px;
}


#i9aw {
    text-align: center;
}

@media (max-width: 992px) {
    #i9aw {
        text-align: center;
    }

    #i9x1 {
        text-align: center;
        font-family: Trebuchet MS, Helvetica, sans-serif;
    }
}

@media (max-width: 768px) {
    .gjs-cell {
        width: 100%;
        display: block;
    }
}

@media (max-width: 480px) {
    #i9x1 {
        padding: 10px;
        text-align: center;
        font-family: Trebuchet MS, Helvetica, sans-serif;
        font-size: 14px;
    }

    #i2gy {
        color: black;
        width: 105px;
        height: 33px;
        position: static;
    }

    #i9aw {
        padding: 10px;
        text-align: center;
    }

    #iix4i {
        color: black;
        width: 320px;
        height: 571px;
        padding: 0px 0px 0px 0px;
    }

    .start {
        display: block;
        padding: 50px;
    }
}

/*Login Form Starts*/
.main__container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.wrapper {
    position: relative;
    width: 380px;
    height: 480px;
    background: #fff;
    box-shadow: 0 0 50px rgb(225, 215, 215);
    border-radius: 20px;
    padding: 40px;
    overflow: hidden;
    margin: 0 1rem;
}



.form-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    transition: .5s ease-in-out;
}



.wrapper.active .form-wrapper.sign-in {
    transform: translateY(-450px);
}

.wrapper .form-wrapper.sign-up {
    position: absolute;
    top: 450px;
    left: 0;
}

.wrapper.active .form-wrapper.sign-up {
    transform: translateY(-450px);
}

h2 {
    font-size: 30px;
    color: #000;
    text-align: center;
}

.input-group {
    position: relative;
    margin: 30px 0;
    border-bottom: .5px solid #c1c1c1;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 5px;
    transform: translateY(-50%);
    font-size: 16px;
    color: #000;
    transition: .2s;

}

.input-group input {
    width: 100%;
    height: 40px;
    font-size: 12px;
    color: #000;
    padding-left: 5px;
    background: transparent;
    border: none;
    outline: none;
    padding-top: 15px;


}


.input-group input:focus~label,
.input-group input:valid~label {
    top: 5px;
    color: #34A853;
}

.mybtn {
    position: relative;
    width: 100%;
    height: 40px;
    background: #34A853;
    font-size: 16px;
    color: #fff;
    font-weight: 500px;
    border-radius: 30px;
    border: none;
    outline: none;
    transition: .2s;
}

.mybtn:hover {
    background-color: #084619;
    box-shadow: 0 0 50px rgb(236, 234, 235);
}

.signup-link {
    font-size: 14px;
    text-align: center;
    margin: 15px 0;
}

.signup-link p {
    color: #000;
}

.signup-link p a {
    color: #34A853;
    text-decoration: none;
    font-weight: 500;
}

.signup-link p a:hover {
    text-decoration: underline;
}

.google-btn {
    width: 184px;
    height: 42px;
    border-radius: 2px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
    margin: 10px;
}

.google-bk {
    background-color: #4285f4;
}

.github-bk {
    background-color: rgb(27, 26, 26);
}

.google-btn .google-icon-wrapper {
    position: absolute;
    margin-top: 1px;
    margin-left: 1px;
    width: 40px;
    height: 40px;
    border-radius: 2px;
    background-color: #fff;
}

.google-btn .google-icon {
    position: absolute;
    margin-top: 11px;
    margin-left: 11px;
    width: 18px;
    height: 18px;
}

.google-btn .btn-text {
    float: right;
    margin: 11px 11px 0 0;
    color: #fff;
    font-size: 14px;
    letter-spacing: 0.2px;
    font-family: "Roboto";
}

.google-btn:hover {
    box-shadow: 0 0 6px #4285f4;
}

.google-btn:active {
    background: #1669f2;
}

/*
################
contact starts here
################
*/
.heading {
    font-family: 'Poppins', sans-serif, 'arial';
    font-weight: 600;
    font-size: 72px;
    color: #2d2d2d;
    text-align: center;
}

.heading-two {
    font-family: 'Roboto', sans-serif, 'arial';
    font-weight: 400;
    font-size: 20px;
    color: #9b9b9b;
    line-height: 1.5;
    text-align: center;
}

.gjs-row {
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
    flex-wrap: nowrap;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    padding-left: 10px;
}

.gjs-cell {
    min-height: 75px;
    flex-grow: 1;
    flex-basis: 100%;
}

#iggo {
    text-align: center;
}

#icl3 {
    width: 650px;
    margin: 1rem 1em 1em 1em;
    padding: 30px 30px 30px 30px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid black;
    background-color: #2d2d2d;
}

#ius3 {
    width: 312px;
    margin: 1rem 1em 1em 1em;
    padding: 30px 30px 30px 30px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid black;
    background-color: #2d2d2d;
}

#i9si {
    text-align: right;
}

#i7cb {
    width: 312px;
    margin: 1rem 1rem 1rem 1em;
    padding: 30px 30px 30px 30px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid black;
    background-color: #2d2d2d;
}

#irns8 {
    text-align: center;
}

#it23m {
    width: 650px;
    margin: 1em 1rem 1rem 1rem;
    padding: 60px 60px 60px 60px;
    border-radius: 4px 4px 4px 4px;
    border: 1px solid black;
    background-color: #2d2d2d;
}

@media (max-width: 768px) {
    .gjs-row {
        flex-wrap: wrap;
    }

    #i9si {
        text-align: center;
    }

    #iucq {
        text-align: center;
    }

    #ius3 {
        width: 70vw;
    }

    #icl3 {
        width: 70vw;
    }

    #i7cb {
        width: 70vw;
    }

    #it23m {
        width: 70vw;
    }
}

@media (max-width: 480px) {
    #i9si {
        text-align: center;
    }
}

.submit-btn {
    padding: 7px 35px;
    border-radius: 60px;
    display: inline-block;
    background-color: #34A853;
    color: white;
    font-size: 18px;
    cursor: pointer;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.06),
        0 2px 10px 0 rgba(0, 0, 0, 0.07);

}

.submit-btn:hover {
    transform: translateY(1px);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.10),
        0 1px 1px 0 rgba(0, 0, 0, 0.09);
}

/*
input,
select,
textarea {
    color: white;
}
*/

/*
################
Navbar here
################
*/
.layout {
    display: flex;
    max-width: 900px;
    margin: auto;
}

.content {
    border-left: 2px solid #eee;
    padding-bottom: 50px;
    min-height: 100vh;
}

.navigation {
    padding: 20px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.8em;
}

.logo {
    margin-top: 20px;
    margin-bottom: 10px;
}

/*
################
Dashboard here
################
*/


.margin {
    margin: 1vw;
}

img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 1px;
}

img:hover {
    box-shadow: 0 0 2px 1px rgba(0, 140, 186, 0.5);
}

.thumb-link {
    margin-top: 5vw;
    margin-bottom: 5vw;
}

.text {
    margin-top: 1vw;
    margin-bottom: 1vw;
}

.dash-content {
    transition: all 0.5s ease;
    margin-left: 30px;
    margin-right: 30px;
}

.one-container {
    display: block;
    width: 100%;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 20px;
    padding-left: 20px;
}

.one-child {
    padding: 20px;
    background-color: #d0edd8;
    border-radius: 10px;
}

.i0sf {
    font-size: 18px;
    font-weight: 550;
    padding-bottom: 20px;
}

#i2sw {
    padding: 3%;
    text-align: left;
    font-family: Helvetica, sans-serif;
    font-size: 25px;
    font-weight: 500;
}

.action_btn {
    width: 200px;
    margin: 30px;
    display: inline;
}

#inyx {
    padding: 10px;
    text-align: center;
    font-family: Helvetica, sans-serif;
}

.project-deck {
    margin-bottom: 20px;
}

@media screen and (max-width: 800px) {
    .one-container {
        display: block;
        width: 100%;
        padding-top: 20px;
        padding-right: 20px;
        padding-bottom: 20px;
        padding-left: 20px;
    }

    .dash-content {
        width: 100%;
        margin-left: 0%;
    }
}


/*
################
Grapes
################
*/

  ::-webkit-scrollbar {
    display: none;
  }

  .sidenav {
    position: fixed;
    top: 0;
    left: 0;
    width: 15%;
    height: 100vh;
    overflow: scroll;
    overflow-x: hidden;
    -ms-overflow-style: none;
    scrollbar-width: none;
    background-color: rgba(255, 255, 255, 0.95);
    -webkit-transition: 0.5s;
    transition: 0.5s;
    -webkit-box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.05);
    border: 1px solid rgba(0, 0, 0, 0.3);
  }

  .sidenav .logo {
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
    text-transform: uppercase;
    font-size: 20px;
    font-weight: 700;
    height: 50px;
  }

  .sidenav .pages {
    height: 100px;
    overflow: scroll;
    overflow-x: hidden;
  }

  .main-content {
    position: relative;
    width: 85%;
    left: 15%;
  }

  .main-content .navbar {
    padding: 0;
  }

  .main-content .navbar .container-fluid {
    padding: 0;
  }

  .main-content #editor {
    border: 2px solid rgba(0, 0, 0, 0.3);
  }

  .nav {
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }

  .gjs-pn-panel {
    position: absolute;
  }

  .gjs-cv-canvas {
    width: 85%;
    height: 100%;
    top: 55px;
  }

  .tab-content {
    display: contents;
  }

  #block {
    height: 100%;
  }

  #block #blocks {
    height: 100%;
  }

  #block #blocks .gjs-blocks-c {
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #block #blocks .gjs-block {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  #block #blocks .gjs-block-label {
    display: none;
  }

  /*Sidebar*/
 .black {
    color: #000;
    margin-top: 5vh;
 }

 .blac {
    color: #000;
 }

 .black-box {
    margin-top: 30px;
 }

/** Page Not Found **/
.element {
    position: fixed;
    inset: 0px;
    width: 48rem;
    height: 20rem;
    max-width: 100vw;
    max-height: 100dvh;
    text-align: center;
    margin: auto;
}

.text {
    padding-top: 30px;
}

.space {
    margin-right: 10px;
}